.form {
    display: flex;
    flex-direction: column;
}

.inputcell {
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    background-color: gray;
}

.button-default {
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    background-color: blueviolet;
    font-weight: bold;
}

/* Paragraphs */

.clue {
    border: 1px solid #cacaca;
}

.attempts {
    border: 1px solid #cacaca;
}