.form {
    display: flex;
    flex-direction: column;
}

.inputcell {
    width: 400px;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    background-color: gray;
}

.button-default {
    width: 200px;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    background-color: blueviolet;
    font-weight: bold;
}

/* Paragraphs */

.clue {
    width: 400px;
    border: 4px solid #cacaca;
}

.attemps {
    width: 400px;
    border: 4px solid #cacaca;
}